* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 90%;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

body{
   background-color: black;
}

.container {
    width: 100%;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: black;
}

main {
    display: flex;
    height: calc(100% - 35px);
    margin-top: 35px;
}

.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.main-container .avatar {
    background-image: url(https://picsum.photos/200/150);
    background-size: contain;
    height: 150px;
    width: 200px;
    margin: 0.3em;
    display: flex;
    align-items: flex-end;
}

.main-container .avatar .avatar-name {
    color: white;
    font-weight: 500;
    background-color: rgba(74, 74, 74, 0.5);
    padding: 0.5em;
    font-size: 0.9em;
}

.flex-header {
    display: flex;
    justify-content: flex-end;
    color: white; 
    margin: 0.5em;    
}

header button {
    background-color: #4a4a4a;
    color: white;
    padding: 0.3em;
    border-radius: 5px;
}

header .margin-r {
    margin-right: 0.7em;
}

.icon-menu {
    height: 10px;
    background-color: white;
    margin-right: 0.5em;
}

.icon-arrow {
    height: 10px;
    background-color: white;
}

.mic-image {
    height: 10px;
    background-color: white;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #0E0E0E;
}

footer nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    color: white;
}

nav .footer-nav-buttons li {
    text-align: center;
    display: flex;
    align-items: center;
    height: 100%;
}
footer nav a {
    text-align: center;
    display: flex;
    align-items: center;
}

footer nav .col-left ul.footer-nav-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    list-style-type: none;
}

footer nav .col-center ul.footer-nav-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    list-style-type: none;
}

footer nav .col-right {
    height: 100%;
}

footer nav .col-right {
    display: flex;
    align-items: center;
    background-color: #4A4A4A;
    padding: 0 0.5em;
    color: red;
}

footer nav i {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

footer nav span {
    font-size: 0.8em;
}

footer nav i.fa-chevron-up {
    font-size: 0.8em;
    margin-left: 0.5em;
    padding: 0.5em;
}

footer nav .col-center {
    flex-basis: 45%;
}

footer nav li .nav-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

}

footer nav li a {
    padding: 0 1em;
}

footer nav li:hover {
    background-color: #4A4A4A;
    border-radius: 10%;
}

footer nav i.fa-chevron-up:hover {
    background-color: rgb(167, 167, 167);
    border-radius: 10%;
}

footer nav i.fa-share-square {
    color: green;
}