* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 80%;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

body{
   background-color: black;
}

.container {
    width: 100%;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: black;
}

.flex-header {
    display: flex;
    justify-content: flex-end;
    color: white; 
    margin: 0.5em;    
}

header button {
    background-color: #4a4a4a;
    color: white;
    padding: 0.3em;
    border-radius: 5px;
}

header .margin-r {
    margin-right: 0.7em;
}

footer {
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 60px;
    background-color: yellow;
}

.flex-footer {
    display: flex;
}